*{
    font-size: 1em;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
body {
    background-color: #333;
}
section {
    margin-bottom: 0.5em;
    background-color: #fff;
}
.searchBar {
    display: flex;
    width: 27em;
    position: relative;
    padding: 0 1em 0.5em 1em;
}
.searchArea {
    background-color: rgb(226, 225, 225);
    border-radius: 2em;
    resize: none;
    width: 80%;
    padding: 0.5em;
    display: inline-block;
    vertical-align: middle;
    max-height: 1.25em;
}
.searchBtn {
    background-color: rgb(226, 225, 225);
    border-radius: 2em;
    margin-left: 0.5em;
    text-align: center;
    border: none; 
    padding: 0.5em;
    color: #000;
}
.search {
    background-color: rgb(226, 225, 225);
}
#search {
    padding: 0.25em;
    background-color: rgb(226, 225, 225);
    width: 1.5em;
    height: 1.5em;
}
#searchBar {
    padding: 0 5em;
}
.cntStack {
    display: block;
}
.container {
    margin-bottom: 0.5em;
    background-color: #333;
    display: flex;
}
label {
    border-bottom: 3px solid #fff;
    padding: 0 1em;
    background-color: #333;
    display: block;
    color: #fff;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    background-color: #333;
}
.galleryItem {
    width: 12.5em;
    height: 12.5em;
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;
    background-color: #000;
}
.bannerImg {
    width: 100%;
}
.overlay {
    position: absolute;
    top: 60em;
}
.carosel {
    display: flex;
}
.rotateGallery {
    border-radius: 50%;
    width: 2em;
    height: 3em;
}
.productDisplay {
    padding: 0.5em;
    display: flex;
}
.caritem {
    padding: 0.5em;
    background-color: rgb(226, 225, 225);
    margin-right: 0.5em;
}
.carImg {
    width: 6em;
}
